.destacados{
    background-color: var(--background-azul-claro);
    padding: 2.5rem 0 2rem 0;
}

.destacados__titulo{
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.destacados__panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.destacados__panel-imagen{
    width: 100vw;
    max-width: 650px;
    box-shadow: 0 2px 10px 5px #00000020;
    margin-bottom: 5rem;
}

.destacados__panel-texto{
    font-weight: 700;
    font-size: 1.2rem;
    line-height: normal;
}

.destacados__boton{
    color: var(--boton-rojo);
    border-color: var(--boton-rojo);
    margin: 0 auto;
}